.wrapper {
    padding-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-label {
    display: flex;
    position: relative;
}

.form-label-ip {
    flex: 1;
}

.form-label-checkbox {
    display: block;
    text-align: left;
}

.form-label > .form-input {
    display: block;
    width: 100%;
}

.form-input,
.form-input-ip,
.form-input-port {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input-ip {
    display: block;
    width: 100%;
}

.form-input-port {
    max-width: 100px;
}

.form-button-wrapper {
    display: flex;
    gap: 10px;
}

.form-address-wrapper {
    display: flex;
    gap: 10px;
}

.files-settings-wrapper {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    gap: 10px;
}

.label-text {
    display: inline-block;
    position: absolute;
    color: gray;
    font-size: 14px;
    line-height: 1;
    background: #ffffff;
    padding: 5px;
    left: 8px;
    top: 4px;
    cursor: text;
    border-radius: 4px;
    transition: all linear 150ms;
}

.active > .label-text,
input:focus + .label-text {
    top: -10px;
    font-size: 11px;
    padding: 4px;
    cursor: none;
}
